@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jost&family=Righteous&display=swap');
/*font-family: 'Bebas Neue', cursive;
font-family: 'Jost', sans-serif;
font-family: 'Righteous', cursive;*/
@keyframes fadeInAnimation {
  0% {opacity: 0}
  100% {opacity: 1;
  }
}
@keyframes typing {
  from { width: 0% }
  to { width: 100% }
}
* {
  animation: fadeInAnimation ease 0.8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
#gen {
  color: white;
  font-size: 7vw;
  text-align: center;
  font-family: 'Righteous', cursive;
  padding-top: 12%;
  border-right: 2px solid;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing;
  animation-duration: 1.3s;
  animation-timing-function: steps(30, end);
  animation-fill-mode: forwards;
}
#title {
  color: white;
  font-size: 3vw;
  text-align: center;
  font-family: 'Righteous', cursive;
  padding-bottom: 3%;
  border-right: 2px solid;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing;
  animation-duration: 1.3s;
  animation-timing-function: steps(30, end);
  animation-fill-mode: forwards;
}
.home {
  background-image: url(leaves.jpg);
  background-repeat: no-repeat;
  background-size: cover; 
}
#w {
  margin-top: 5%;
  margin-left: 5%;
  font-family: Georgia, serif;
}
#m {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  text-align: justify;
  font-family: Georgia, serif;
}
.intro {
  background-color: #3C6255;
}
#o {
  color: white;
  padding-top: 5%;
  padding-left: 5%;
  font-family: Georgia, serif;
}
#intro {
  color: white;
  font-family: Georgia, serif;
  text-align: justify;
  padding-left: 5%;
  padding-right: 5%;
}
.intro-last{
  padding-bottom: 5%;
}
.concept-title{
  font-family: Georgia, serif;
  text-align: center;
  margin-top: 2%;
}
.concept-cards{
  margin-left: 10%;
}
.card{
  float: left;
  color: white;
  width: 180px;
}
#bio-card{
  background-color: #3C6255;
  text-align: center;
  margin-top: 2%;
  margin-left: 10%;
  margin-bottom: 2%;
}
#bio-icon{
  margin-top: 3%;
  background: url(icons.png) no-repeat -20px -50px;
  width: 140px;
  height: 150px;
  margin-left: 20px;
}
#chem-card{
  background-color: #61876E;
  text-align: center;
  margin-top: 2%;
  margin-left: 10%;
  margin-bottom: 2%;
}
#chem-icon{
  margin-top: 3%;
  background: url(icons.png) no-repeat -185px -50px;
  width: 140px;
  height: 150px;
  margin-left: 20px;
}
#phys-card{
  background-color: #539165;
  text-align: center;
  margin-top: 2%;
  margin-left: 10%;
  margin-bottom: 2%;
}
#phys-icon{
  margin-top: 3%;
  background: url(icons.png) no-repeat -30px -200px;
  width: 140px;
  height: 150px;
  margin-left: 20px;
}
#bio{
  background-color: #3C6255;
  color: white;
  float: left;
  padding: 5%;
  text-align: justify;
  font-family: Georgia, serif;
}
#chem {
  background-color: #61876E;
  color: white;
  float: left;
  padding: 5%;
  text-align: justify;
  font-family: Georgia, serif;
}
#phys {
  background-color: #539165;
  color: white;
  float: left;
  padding: 5%;
  text-align: justify;
  font-family: Georgia, serif;
}
#application {
  background-color: #AAC8A7;
  color: white;
  float: left;
  padding: 5%;
  text-align: justify;
  font-family: Georgia, serif;
}
#references {
  float: left;
  padding: 5%;
  text-align: justify;
  font-family: Georgia, serif;
}
#fb{
  float: left;
  background: url(logos.png) no-repeat -10px -20px;
  width: 140px;
  height: 125px;
  transform: scale(0.7,0.7);
}
#instgrm{
  float: left;
  background: url(logos.png) no-repeat -150px -20px;
  width: 130px;
  height: 125px;
  transform: scale(0.7,0.7);
}
#twitter{
  float: left;
  background: url(logos.png) no-repeat -278px -20px;
  width: 130px;
  height: 125px;
  transform: scale(0.7,0.7);
}
#fb:hover{
  float: left;
  background: url(logos.png) no-repeat -7px -155px;
  width: 140px;
  height: 125px;
  transform: scale(0.7,0.7);
}
#instgrm:hover{
  float: left;
  background: url(logos.png) no-repeat -147px -155px;
  width: 130px;
  height: 125px;
  transform: scale(0.7,0.7);
}
#twitter:hover{
  float: left;
  background: url(logos.png) no-repeat -275px -155px;
  width: 130px;
  height: 125px;
  transform: scale(0.7,0.7);
}
