@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jost&family=Righteous&display=swap');
/*font-family: 'Bebas Neue', cursive;
font-family: 'Jost', sans-serif;
font-family: 'Righteous', cursive;*/
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
* {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
header {
  color: white;
  font-size: 700%;
  text-align: left;
  font-family: 'Righteous', cursive;
  padding-top: 300px;
  padding-left: 30px;
}
#title {
  color: white;
  font-size: 270%;
  text-align: left;
  font-family: 'Righteous', cursive;
  padding-left: 30px;
}
.home {
  height: 601px;
  width: 100%;
  background-image: url(leaves.jpg);
  background-repeat: no-repeat;
  background-size: cover; 
}
#w {
  padding-top: 50px;
  padding-left: 60px;
  font-family: Georgia, serif;
}
#m {
  width: 1100px;
  padding-left: 60px;
  padding-bottom: 50px;
  font-family: Georgia, serif;
}
.pic1 {
  float: right;
  position: relative;
  left: 60px;
  bottom: 70px;
  height: 180px;
  width: 150px;
}
.intro {
  background-color: #3C6255;
}
#o {
  color: white;
  padding-top: 50px;
  padding-left: 60px;
  font-family: Georgia, serif;
}
#intro {
  color: white;
  width: 1000px;
  padding-left: 60px;
  padding-bottom: 50px;
  font-family: Georgia, serif;
}
#fb{
  float: left;
	background: url(logos.png) no-repeat -10px -20px;
	width: 140px;
	height: 125px;
  transform: scale(0.7,0.7);
}
#instgrm{
  float: left;
	background: url(logos.png) no-repeat -150px -20px;
	width: 130px;
	height: 125px;
  transform: scale(0.7,0.7);
}
#twitter{
  float: left;
	background: url(logos.png) no-repeat -278px -20px;
	width: 130px;
	height: 125px;
  transform: scale(0.7,0.7);
}
#fb:hover{
  float: left;
	background: url(logos.png) no-repeat -7px -155px;
	width: 140px;
	height: 125px;
  transform: scale(0.7,0.7);
}
#instgrm:hover{
  float: left;
	background: url(logos.png) no-repeat -147px -155px;
	width: 130px;
	height: 125px;
  transform: scale(0.7,0.7);
}
#twitter:hover{
  float: left;
	background: url(logos.png) no-repeat -275px -155px;
	width: 130px;
	height: 125px;
  transform: scale(0.7,0.7);
}
