@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jost&family=Righteous&display=swap');
/*font-family: 'Bebas Neue', cursive;
font-family: 'Jost', sans-serif;
font-family: 'Righteous', cursive;*/
@keyframes fadeInAnimation {
  0% {opacity: 0}
  100% {opacity: 1;
  }
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
* {
  animation: fadeInAnimation ease 0.6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.revealUp {
  opacity: 0;
  visibility: hidden;
}
.animate-character
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #1b7a33 0%,
    #1dbb3f 29%,
    #91ff13 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 190px;
}

#gen {
  color: white;
  font-size: 7vw;
  text-align: center;
  font-family: 'Righteous', cursive;
  padding-top: 12%;
}
#title {
  color: white;
  font-size: 3vw;
  text-align: center;
  font-family: 'Righteous', cursive;
  padding-bottom: 3%;
}
.home {
  background-image: url(leaves.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; 
  text-align: center;
}
#w {
  margin-top: 5%;
  margin-left: 5%;
  font-family: Georgia, serif;
}
#m {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  text-align: justify;
  font-family: Georgia, serif;
}
.intro {
  background-color: #3C6255;
}
#o {
  color: white;
  padding-top: 5%;
  padding-left: 5%;
  font-family: Georgia, serif;
}
#intro {
  color: white;
  font-family: Georgia, serif;
  text-align: justify;
  padding-left: 5%;
  padding-right: 5%;
}
#intro-last{
  color: white;
  font-family: Georgia, serif;
  text-align: justify;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}
#concept-title{
  font-family: Georgia, serif;
  text-align: center;
  margin-top: 2%;
}
#concept-cards{
  margin-left: 10%;
}
#bio-card{
  background-color: #3C6255;
  float: left;
  color: white;
  width: 180px;
  text-align: center;
  margin-top: 2%;
  margin-left: 10%;
  margin-bottom: 2%;
}
#bio-icon{
  margin-top: 3%;
  background: url(icons.png) no-repeat -20px -50px;
  width: 140px;
  height: 150px;
  margin-left: 20px;
}
#chem-card{
  background-color: #61876E;
  float: left;
  color: white;
  width: 180px;
  text-align: center;
  margin-top: 2%;
  margin-left: 10%;
  margin-bottom: 2%;
}
#chem-icon{
  margin-top: 3%;
  background: url(icons.png) no-repeat -185px -50px;
  width: 140px;
  height: 150px;
  margin-left: 20px;
}
#phys-card{
  background-color: #539165;
  float: left;
  color: white;
  width: 180px;
  text-align: center;
  margin-top: 2%;
  margin-left: 10%;
  margin-bottom: 2%;
}
#phys-icon{
  margin-top: 3%;
  background: url(icons.png) no-repeat -30px -200px;
  width: 140px;
  height: 150px;
  margin-left: 20px;
}
#bio{
  background-color: #3C6255;
  color: white;
  float: left;
  padding: 5%;
  text-align: justify;
  font-family: Georgia, serif;
}
#chem {
  background-color: #61876E;
  color: white;
  float: left;
  padding: 5%;
  text-align: justify;
  font-family: Georgia, serif;
}
#phys {
  background-color: #539165;
  color: white;
  float: left;
  padding: 5%;
  text-align: justify;
  font-family: Georgia, serif;
}
#application {
  background-color: #5c8d50;
  color: white;
  float: left;
  padding: 5%;
  text-align: justify;
  font-family: Georgia, serif;
}

#profile{
  float: left;
  background-color: #25664b;
  color: white;
  width: 100%;
  padding: 5%;
  font-family: Georgia, serif;
}
#adiong{
  float: left;
  width: 250px;
  margin-left: 10%;
  text-align: center;
}
#adiong img{
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 18px;
  margin-bottom: 10px;
  height: 150px;
  width: 135px;
}
#adiong h2{
  border-bottom: 2px solid;
}

#coquilla{
  float: left;
  width: 250px;
  margin-left: 10%;
  text-align: center;
}
#coquilla img{
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 18px;
  margin-bottom: 10px;
  height: 150px;
  width: 140px;
}
#coquilla h2{
  border-bottom: 2px solid;
}

#dugho{
  float: left;
  width: 250px;
  margin-left: 10%;
  text-align: center;
}
#dugho img{
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 18px;
  margin-bottom: 10px;
  height: 150px;
  width: 130px;
}
#dugho h2{
  border-bottom: 2px solid;
}

#gaspar{
  clear: left;
  float: left;
  width: 250px;
  margin-left: 10%;
  margin-top: 5%;
  text-align: center;
}
#gaspar img{
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 18px;
  margin-bottom: 10px;
  height: 150px;
  width: 145px;
}
#gaspar h2{
  border-bottom: 2px solid;
}

#lademora{
  float: left;
  width: 250px;
  margin-left: 10%;
  margin-top: 5%;
  text-align: center;
}
#lademora img{
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 18px;
  margin-bottom: 10px;
  height: 150px;
  width: 170px;
}
#lademora h2{
  border-bottom: 2px solid;
}

#ongbay{
  float: left;
  width: 250px;
  margin-left: 10%;
  margin-top: 5%;
  text-align: center;
}
#ongbay img{
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 18px;
  margin-bottom: 10px;
  height: 150px;
  width: 145px;
}
#ongbay h2{
  border-bottom: 2px solid;
}

#references {
  float: left;
  padding: 5%;
  text-align: justify;
  font-family: Georgia, serif;
}

footer{
  margin-left:38%;
}

#fb{
  float: left;
  background: url(logos.png) no-repeat -10px -20px;
  width: 140px;
  height: 125px;
  transform: scale(0.5,0.5);
}
#instgrm{
  float: left;
  background: url(logos.png) no-repeat -150px -20px;
  width: 130px;
  height: 125px;
  transform: scale(0.5,0.5);
}
#twitter{
  float: left;
  background: url(logos.png) no-repeat -278px -20px;
  width: 130px;
  height: 125px;
  transform: scale(0.5,0.5);
}
#fb:hover{
  float: left;
  background: url(logos.png) no-repeat -7px -155px;
  width: 140px;
  height: 125px;
  transform: scale(0.5,0.5);
}
#instgrm:hover{
  float: left;
  background: url(logos.png) no-repeat -147px -155px;
  width: 130px;
  height: 125px;
  transform: scale(0.5,0.5);
}
#twitter:hover{
  float: left;
  background: url(logos.png) no-repeat -275px -155px;
  width: 130px;
  height: 125px;
  transform: scale(0.5,0.5);
}
