@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
body, html {
    background-color: rgb(44, 44, 44);
    overflow-x: hidden;
}



header {
    position: relative;
    background-color: black;
    width: 100vw;
    overflow: hidden;
    padding-top: 16px;
    padding-right: 25px;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.75;
    z-index: 1;
  }
  
  /* Media Query for devices withi coarse pointers and no hover functionality */
  
  /* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */
  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('../images/fourth.png') black no-repeat center center scroll;
    }
  
    header video {
      display: none;
    }
  }

  .title{
    margin:5px;
  }
/* wnt_kai was here */
  .maintitle {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-align:right;
    padding-bottom:2vh;
    color: rgba(255, 255, 255, 0.925);

  }

.namemain{
    text-align: right;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    opacity: 0.8;
    background-color: rgba(2, 2, 2, 0.63);
    border-radius: 8px;
}


.namecomma{
  color: rgba(255, 255, 255, 0.377);
}


  

.pnav {
  background-color: rgba(94, 94, 94, 0.678);
  z-index:2;
}

article {
  font-family: Poppins, sans-serif;
}

#contentpart {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  width:100vw;
}

.card {
  position: relative; /* make the card element the relative parent for its child elements */
}

.card-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.card:hover .card-img-overlay {
  opacity: 1;
}

#faceimage1 {
  height: 378.67px;
  width:  213.33px;
  display: inline-block;
  margin: 5vw;
}

#faceimage1a {
  position: relative;
  width:  213.33px;
  height: 378.67px;
  overflow: hidden;
  object-fit: cover;
}

#faceimage2a {
  position: relative;
  width:  213.33px;
  height: 378.67px;
  overflow: hidden;
  object-fit: cover;
}

#faceimage3a {
  position: relative;
  width:  213.33px;
  height: 378.67px;
  overflow: hidden;
  object-fit: cover;
  object-position: 100% 0;
}

#faceimage4a {
  position: relative;
  width:  213.33px;
  height: 378.67px;
  overflow: hidden;
  object-fit: cover;
}

#faceimage5a {
  position: relative;
  width:  213.33px;
  height: 378.67px;
  overflow: hidden;
  object-fit: cover;
}

#faceimage6a {
  position: relative;
  width:  213.33px;
  height: 378.67px;
  overflow: hidden;
  object-fit: cover;
}

#conerod{
  position: relative;
  height: 300px;
  overflow: hidden;
  object-fit: cover;
  object-position: center; 
  border-radius: 5px;
  margin-bottom: 10px;
}

#cctvmon{
  position: relative;
  height: 100px;
  overflow: hidden;
  object-fit: cover;
  object-position: top; 
  border-radius: 5px;
  margin-bottom: 5px;
}

#bodyeagle {
  position: relative;
  height: 300px;
  overflow: hidden;
  object-fit: cover;
  object-position: left; 
  border-radius: 5px;
}

#camsensor{
  position: relative;
  height: 200px;
  overflow: hidden;
  object-fit: cover;
  object-position: center; 
  border-radius: 5px;
}

#bayer{
  position: relative;
  height: 200px;
  overflow: hidden;
  object-fit: cover;
  object-position: center; 
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.507);
}

#stackcctv{
  position: relative;
  height: 200px;
  overflow: hidden;
  object-fit: cover;
  object-position: bottom; 
  border-radius: 5px;
}

/* qkvyj jahup tylnt ecevm lxljx romhw meybw ejtji jcvse ooite efhlq vrxtg zskkc dhsnc aasxp zafas qoxjx kunnj wuxja rbepa gxjug ssufo wemsm txlts azjcw cenmf oympf drnqy jmwjh qtlbq ttvkg xrjxh hyaeh jotlk todoi isuks ws */

#authorspart {
  font-family: Poppins, sans-serif;
}