<<<<<<< HEAD
*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	color: #343f4a;
}
::-webkit-scrollbar{
	width: 10px;
}
::-webkit-scrollbar-track{
	background: #343f4a;
}
::-webkit-scrollbar-thumb{
	background: #536475;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
	background: #7891ab;
}
header{
	background-image: url(images/tempheader.jpg);
	height: 100vh;
	background-position: 0 -100vh;
	background-size: cover;
}
hgroup{
	padding-top: 40vh;
}
h1, h2, h3{
	font-family: 'Raleway', sans-serif;
}
p {
	text-align: justify;
	text-justify: inter-word;
	text-indent: 5%;
}
aside {
	text-align: center;
	font-style: italic;
	margin: 5vh 0 5vh 0;
}
b{
	font-style: normal;
}
#title{
	font-size: 70px;
}
#subtitle{
	font-size: 30px;
}
#link{
	color: #343f4a;
}
main{
	width: 1200px;
	margin: 50px auto;
}
section{
	margin: 20px 0;
}
.local{
	background-color: #73a4c7;
	position: sticky;
	top: 50px;
	z-index: 1;
	display: flex;
	height: 43px;
	opacity: 0.5;
}
.local:hover{
	opacity: 1;
}
.local ul{
	margin: 0 auto;
	padding: 10px 0;
}
.local li{
	list-style-type: none;
	display: inline-block;
	margin: 0px 30px;
}
.local a{
	text-decoration: none;
	color: white;
	font-family: 'Quicksand', sans-serif;
	font-size: 15px;
}
.local a:hover{
	color: lightgray;
}
#bio_link{
	color: #befaac;
}
#bio_link:hover{
	color: #aac7a1;
}
#chem_link{
	color: #ffb8e6;
}
#chem_link:hover{
	color: #cca9c0;
}
#phys_link{
	color: #fbfcb6;
}
#phys_link:hover{
	color: #d0d1ae;
}
main img{
	display: block;
	margin: 40px auto;
	width: 500px;
}
.reference, #application, #intro, .content, #objectives{
	width: 1000px;
	display: block;
	margin: auto;
}
.reference p{
	font-size: 12px;
	text-indent: 0;
	margin: 10px 0;
	padding-left: 36px;
	text-indent: -36px;
}
.content p{
	margin: 40px 0;
}
footer{
	background: #73a4c7;
	margin: 0;
	height: 50px;
	padding-top: 15px;
}
footer p{
	text-align: center;
	font-weight: bold;
	color: white;
}
.ml13{
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 1000;
}
.ml13 .letter{
    display: inline-block;
    line-height: 1em;
}
.ml16{
    font-weight: 800;
    font-size: 2em;
    overflow: hidden;
}
.ml16 .letter{
    display: inline-block;
    line-height: 1em;
}
=======
*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	color: #343f4a;
}
::-webkit-scrollbar{
	width: 10px;
}
::-webkit-scrollbar-track{
	background: #343f4a;
}
::-webkit-scrollbar-thumb{
	background: #536475;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
	background: #7891ab;
}
header{
	background-image: url(images/sky.jpg);
	height: 100vh;
	background-attachment: fixed;
	background-position: 0 -100vh;
	background-size: cover;
	animation-name: fadein;
	animation-duration: 2s;
}
hgroup{
	padding-top: 40vh;
}
h1, h2, h3{
	font-family: 'Raleway', sans-serif;
	text-align: center;
}
p {
	text-align: justify;
	text-justify: inter-word;
	text-indent: 5%;
}
aside {
	text-align: center;
	font-style: italic;
	margin: 5vh 0 5vh 0;
}
b{
	font-style: normal;
}
#title{
	font-size: 70px;
}
#subtitle{
	font-size: 30px;
}
#link{
	color: #343f4a;
}
main{
	width: 1200px;
	margin: 50px auto;
}
section{
	margin: 20px 0;
}
.local{
	background-color: #73a4c7;
	position: sticky;
	top: 50px;
	z-index: 1;
	display: flex;
	height: 43px;
	opacity: 0.5;
}
.local:hover{
	animation-name: fadeto;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}
.local ul{
	margin: 0 auto;
	padding: 10px 0;
}
.local li{
	list-style-type: none;
	display: inline-block;
	margin: 0px 30px;
}
.local a{
	text-decoration: none;
	color: white;
	font-family: 'Quicksand', sans-serif;
	font-size: 15px;
}
.local a:hover{
	color: lightgray;
}
#bio_link{
	color: #befaac;
}
#bio_link:hover{
	color: #aac7a1;
}
#chem_link{
	color: #ffb8e6;
}
#chem_link:hover{
	color: #cca9c0;
}
#phys_link{
	color: #fbfcb6;
}
#phys_link:hover{
	color: #d0d1ae;
}
main img{
	display: block;
	margin: 40px auto;
	width: 500px;
}
.reference, #application, #intro, .content, #objectives{
	width: 1000px;
	display: block;
	margin: auto;
}
.reference p{
	font-size: 12px;
	text-indent: 0;
	margin: 10px 0;
	padding-left: 36px;
	text-indent: -36px;
}
.content p{
	margin: 40px 0;
}
footer{
	background: #73a4c7;
	margin: 0;
	height: 50px;
	padding-top: 15px;
}
footer p{
	text-align: center;
	font-weight: bold;
	color: white;
}
.ml13{
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 1000;
}
.ml13 .letter{
    display: inline-block;
    line-height: 1em;
}
.ml16{
    font-weight: 800;
    font-size: 2em;
    overflow: hidden;
}
.ml16 .letter{
    display: inline-block;
    line-height: 1em;
}
@keyframes fadein{
	from{opacity: 0}
	to{opacity: 1}
}
@keyframes fadeto{
	from{opacity: 0.5}
	to{opacity: 1}
}
>>>>>>> 04eda035dadc316d484ad525dfa0cfae69eb4e98
