*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	color: #343f4a;
}
::-webkit-scrollbar{
	width: 1vw;
}
::-webkit-scrollbar:horizontal{
	height: 1vw;
}
::-webkit-scrollbar-track{
	background: #343f4a;
}
::-webkit-scrollbar-thumb{
	background: #536475;
	border-radius: 1vh;
}
::-webkit-scrollbar-thumb:hover{
	background: #7891ab;
}
header{
	background-image: url(images/sky.jpg);
	height: 100vh;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	animation-name: fadein;
	animation-duration: 2s;
}
hgroup{
	padding-top: 35vh;
	margin: auto 3vw;
}
h1, h2, h3{
	font-family: 'Rock Salt', cursive;
	text-align: center;
}
main h1{
	margin: 5vh auto;
}
p {
	text-align: justify;
	text-justify: inter-word;
	text-indent: 5vw;
}
aside {
	text-align: center;
	font-style: italic;
	margin: 5vh 0 5vh 0;
}
b{
	font-style: normal;
}
#title{
	font-size: 10vh;
	word-wrap: break-word;
}
#subtitle{
	font-size: 4vh;
	word-wrap: break-word;
}
#link{
	color: #343f4a;
	border: none;
	border-radius: 10px;
	padding: 1vh;
	margin-top: 4vh;
}
main{
	margin-top: 5vw;
}
.local{
	background-color: #73a4c7;
	position: sticky;
	top: 50px;
	z-index: 1;
	display: flex;
	opacity: 0.5;
}
.local:hover{
	animation-name: fadeto;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}
.local ul{
	margin: auto;
	padding: 1vh;
}
.local li{
	list-style-type: none;
	display: inline-block;
	margin: 0 2vw;
}
.local a{
	text-decoration: none;
	color: white;
	font-family: 'Quicksand', sans-serif;
}
.local a:hover{
	color: lightgray;
}
#bio_link{
	color: #befaac;
}
#bio_link:hover{
	color: #aac7a1;
}
#chem_link{
	color: #ffb8e6;
}
#chem_link:hover{
	color: #cca9c0;
}
#phys_link{
	color: #fbfcb6;
}
#phys_link:hover{
	color: #d0d1ae;
}
main img{
	display: block;
	margin: 4vh auto;
	width: 40vw;
}
section{
	display: block;
	margin: auto;
}
.reference p{
	font-size: 12px;
	text-indent: 0;
	margin: 10px 0;
	padding-left: 36px;
	text-indent: -36px;
	word-wrap: break-word;
}
.content p{
	margin: 4vh 0;
}
footer{
	background: #73a4c7;
	margin: 0;
	height: 50px;
	padding-bottom: 5vw;
}
footer p{
	text-align: center;
	font-weight: bold;
	color: white;
	text-indent: 0;
}
.ml13{
    font-size: 3em;
    letter-spacing: 0.1em;
    font-weight: 1000;
}
.ml13 .letter{
    display: inline-block;
    line-height: 1em;
    font-family: 'Rock Salt', cursive;
}
.ml16{
    font-weight: 800;
    font-size: 2em;
    overflow: hidden;
}
.ml16 .letter{
    display: inline-block;
    line-height: 1em;
}
@keyframes fadein{
	from{opacity: 0}
	to{opacity: 1}
}
@keyframes fadeto{
	from{opacity: 0.5}
	to{opacity: 1}
}
#team img{
	width: 20vw;
	height: 20vw;
	object-fit: cover;
	border-radius: 40px;
}
#team h1{
	background-color: #73a4c7;
	margin-bottom: 0;
	padding-top: 5vw;
	color: white;
	font-family: 'Rock Salt', cursive;
}
.w-100{
	background-color: #73a4c7;
	padding: 1vw;
	color: white;
}
.w-100 p{
	text-align: center;
	text-indent: 0;
	color: white;
}


#objectives{
	width: 60vw;
	margin-bottom: 5vw;
}
#intro{

}
.row1{
	background-color: #73a4c7;
}
.row2{
	background-color: #4d5c6b;
}
.row1, .row2{
	display: flex;
	padding: 3vw;
	align-items: center;
}
.row1 h1, .row2 h1{
	color: white;
	margin-bottom: 1vw;
}
.row1 p, .row2 p{
	color: white;
}
.row1 .text{
	margin-left: 2vw;
}
.row2 .text{
	margin-right: 2vw;
}
#concepts{
	margin: 5vw auto;
}
#application{
	margin-bottom: 5vw;
}
.row3 .container{
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}
.row3 .container div{
	width: 25vw;
	height: 45vw;
	background-size: cover;
	border-radius: 40px;
	display: inline-block;
	margin: 0 2vw;
	background-color: #4d5c6b;
	color: white;
}
.row3 h3{
	padding-top: 1vh;
}
.row3 p{
	color: white;
	padding: 2vw;
	text-indent: 0;
}
.row3 .container div img{
	width: 25vw;
	height: 25vw;
	object-fit: cover;
	border-radius: 40px;
}

>>>>>>> 04eda035dadc316d484ad525dfa0cfae69eb4e98
