body, html {
    overflow-x: hidden;
}

article {
    margin-top: 50px;

    background-color: antiquewhite;
    width: 100%;
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    line-height: 2.75;
}
h1 { 
    z-index: inherit;

    text-align: center;

    font-size: 2rem;
}
p {
    z-index: inherit;

    text-indent: 80px;

    margin-bottom: 50px;
}

.hidden {
    opacity: 0;
    filter: blur(2px);
    transform: translateY(25%);
    transition: all 2s;
}
.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
.delay {
    transition-delay: 300ms;
}

#bg-wrapper-sunrise {
    z-index: -1;
    background-image: linear-gradient(rgb(75, 81, 120, 1), rgb(104, 109, 159, 1), rgb(234, 168, 92, 1), antiquewhite);
}
#bg-wrapper-noon{
    z-index: -1;
    background-image: linear-gradient(rgb(111, 178, 255, 1), rgb(135, 191, 255, 1), rgb(187, 228, 255, 1), antiquewhite);
}
#bg-wrapper-sunset{
    z-index: -1;
    background-image: linear-gradient(rgb(193, 128, 196, 0), rgb(176, 155, 185, 0), rgb(230, 177, 114, 0), antiquewhite);
}
#bg-wrapper-midnight{
    z-index: -1;
    align-content: center;

    background-image: linear-gradient(rgba(13, 7, 54, 0), rgba(46, 40, 111, 0), rgb(50, 48, 106, 0), antiquewhite);
}
#bg-wrapper-midnight img {
    z-index: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    max-height: 768px;
    max-width: 1500px;

    mix-blend-mode: overlay;
}

#layer1 {
    top: 0px;

    animation: floating 42s infinite, fade 42s infinite;
}
#layer2 {
    bottom: 0px;

    animation: floating 38s infinite reverse, fade 38s infinite;
}
@keyframes floating {
    from {
        transform: translateX(-100px);
    }

    to {
        transform: translate(100px);
    }
}
@keyframes fade {
    0% {
        opacity: 0%;
    }
    12% {
        opacity: 40%;
    }
    50% {
        opacity: 70%;
    }
    60% {
        opacity: 40%;
    }
    95% {
        opacity: 20%;
    }
    100% {
        opacity: 0%;
    }
}

.stars {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    height: 900px;
    width: 1500px;

    mix-blend-mode: hard-light;
    filter: blur(-20px);
}
#stars1 {
    opacity: 0.3;
}
#stars2 {
    opacity: 0;
}

#container1 {
    z-index: 1;
    display: inline-flex;

    height: 100%;
    width: 100%;

    padding: 1em 4em 1em 6em;
    
    line-height: 2.6;

    background-color: rgb(0, 0, 0, 0);
}

#content1 {
    z-index: inherit;

    margin: 5em 6em 5em 2em; 
}

#content1a {
    display: inline-flex;

    height: 50%;
    width: 100%;
}
#content1a-first-div {
    height: 100%;
    width: 70%;
}

#interactive-bar-div {
    z-index: inherit;
    float: left;
    display: flex;

    top: 50%;
    left: 50%;
    margin: auto;

    height: 100%;
    width: 18%;
}
#interactive-bar {
    z-index: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: auto;
}
.timebuttondiv {
    overflow: hidden;
    margin: 20px 0px;

    height: 38px;
    width: 35px;

    color: rgba(0, 0, 0);

    transition: all 0.5s ease-out;
}
.timebutton {
    height: 35px;
    width: 35px;

    background-color: rgba(0, 0, 0, 0);
    border: 3px solid rgb(0, 0, 0);
    border-radius: 25px;
}
.timebuttondiv span {
    opacity: 0;
}
.timebuttondiv:hover {
    width: 110px;

    cursor: pointer;
}
.timebuttondiv:hover button {
    background-color: black;

    transition: all 0.5s ease-out;
}
.timebuttondiv:hover span{
    opacity: 1;

    transition-delay: 0.5s;
    transition: all 1s ease-out;
}

#lens-div {
    position: relative;

    height: 100%;
    width: 20%;
}
#lenslayer1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;

    border-radius: 100%;
    background-color: aqua;
}
/* #lens-img {
    z-index: 3;
    padding: 5vw 0vw 0vw 0vw;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    mix-blend-mode: multiply;
    filter: blur(25px);
} */

#container2{
    background-color: antiquewhite; 
}
#container2 h1 {
    margin: 0px 10px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 550;
    font-size: 3rem;
    color:rgb(100, 84, 66);
}
#container2 p {
    margin: 20px 40px;
}
#container2 div {
    padding-top: 35px;
}
h2 {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 550;
    font-size: 2.7rem;
    color:rgb(100, 84, 66);
}

.half {
    display: flex;
    margin: 120px 0px 150px 0px;

    width: 100%;
}
.half img {
    align-self: center;
    height: 100%;
    width: 40%;

    box-shadow: 20px 20px 0px rgba(127, 91, 50, 0.6);
}
.half div {
    padding: 0vw 6vw 7vw 6vw;
    width: 60%;
}
#chemp {
    line-height: 2.35;
}

#references {
    padding: 20vw 12vw 12vw 12vw;
    width: 100%;

    text-align: justify;
    line-height: 3.5;
}
#references h2 {
    text-align: center;
    margin: 30px;
}
footer{
    text-align: center;
    align-items: center;

    padding: 8px 7px;
    
    background: #252a2b;
    color: rgb(183, 183, 183);
    font-size: 20px;
}
footer p {
    text-indent: 0px;
    padding: 10px 0px;
    margin-top: 25px;
    margin-bottom: 0px;
}
footer a {
    text-align: center;
    display: inline-block;
    padding: 30px 40px;
    width: 220px;
    line-height: 1.6;
    text-decoration: none;
    color: rgb(209, 176, 176);
}
footer a:hover {
    font-size: 21.5px;
    text-decoration: underline;
    transition: 0.5s;
}
