/* do not remove this import from css */
@import url("https://smc-26.github.io/sciencefair2023/x-assets/css/bootstrap.css");
.carousel-container{
    min-height: 50vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.title-text {
    margin-top: 0;
    line-height: 1.2;
}
.breadcrumb{
    margin-top: 69px;
    margin-left: 16px;
}
.display-1{
    text-align: center;
    font-size: 50px;
    background-color: #f6f6f6;
    margin: 0;
}
.index-team{
    padding: 80px 130px;
    background-color: #f6f6f6;
}
.inte{
    color: #AEAEAE;
}
.exam{
    color: #000;
    font-size: 20px;
}
.index-pic{
    padding: 93px 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.column{
    margin: 0;
    padding: 0;
}
.column img{
    height: 220px;
    width: 220px;
    padding-bottom: 45px;
}
.right{
    padding-right: 45px;
}
footer{
    background-color: #f6f6f6;
    padding: 25px;
}
footer:after {
    content: "";
    display: table;
    clear: both;
}
h3{
    font-size: 18px;
}
.footer-col{
    width: 33.333333333333333333333333333333333%;
    float: left;
}
h4{
    font-size: 16px;
}
.footer-col p{
    font-size: 12px;
}
.brief-description-container{
    padding: 80px 139px;
    background-color: #f6f6f6;
    margin: 0;
}
.brief-description-subcontainer{
    background-color: #2B9C3F;
    padding: 61px 70px;
    margin-right: 300px;
}
.brief-description-subcontainer h3{
    font-size: 20px;
}
.brief-description-subcontainer p{
    font-size: 16px;
    margin-right: 218px;
}
aside img{
    position: relative;
    bottom: 350px;
    left: 550px;
}
aside{
    width: 0;
    height: 0;
}
