@import url('https://fonts.cdnfonts.com/css/minecraft-4');
body, html {
    margin: 0px !important;
    padding: 0px !important;
}
body{
    background-color: #EDEADE !important;
}
#header{
    background-image: url('header.png');
    height:45rem;
    overflow:hidden;
    background-repeat:no-repeat;
    background-position: center;
    background-position-y:30px;
}
#minecraft-bow{
    background-image:url('minecraft-bow.png');
    height:5vh;
}
#healingwonders_h1{
    font-size:5rem;
    margin-left:auto;
    margin-right:auto;
    font-family: "Minecraft", sans-serif;
}
#healingpowers_p{
    font-size:17px;
}
#animation_div{
    height:25rem;
    width:25rem;
    border-radius: 50px;
    border:1x solid black;
}
.healingwonders{
    margin:10px;
    text-shadow: 3px 3px #4b4b4b;
    text-indent:20px;
    font-weight:bolder;
    color:white;
}
.subj{
    margin-left:auto; 
    margin-right:auto;
}
.subject_minecraft_items{
    height:40px;
    width:40px;
    margin-left:1%;
}
h2{
    text-shadow: 2px 2px #000000;
    color:white !important;
    font-size:40px;
    font-family: "Minecraft", sans-serif;
}
.card-text{
    color:white;
    font-family: Verdana, sans-serif;
}
.btn{
    color:whitesmoke !important;
    font-family: Verdana, sans-serif !important;
}
@keyframes scissoring{
    0%{transform:translateX(0%); width:0;}
    25%{transform:translateX(25%); width:25;}
    50%{transform:translateX(50%); width:50;}
    75%{transform:translateX(80%); width:75;}
    100%{transform:translateX(150%); width:100;}
}
@keyframes scissoringx{
    0%{transform:translateX(150%);width:100;}
    25%{transform:translateX(80%);width:75;}
    50%{transform:translateX(50%);width:50;}
    75%{transform:translateX(25%); width:25;}
    100%{width:0; transform:translateX(0%); visibility:hidden;}
}

#mainDiv.gone{
    opacity:1;
}
#mainDiv{
    border:2px solid rgb(106, 162, 207);
    border-radius:10px;
    opacity:0;
    text-align:center;
    transition:opacity 500ms ease-in; 
}

p{
    line-height:200%;
}
#biologys, #chemistrys, #physicss{
    border:1px solid black;
}

.filter-btn.active {
    background: var(--primary);
    color: var(--white);
}
.clarence_paragraph{
    text-indent:50px;
    font-size:20px;
}
.subject_minecraft_items{
    margin-left:1%;
}

.tab-content-left{
    width:85%;
}
.references_p{
    color:grey;
    font-size:15px;
    margin-left: 5%;
}
#container-tab{
    overflow: hidden;
    height:68rem;
    margin-left:9.1%;
    width:85%;
    justify-content: center;    
}
.button_bio{
    color:green;
    
}
footer{
    margin-top:10rem;
}
.tab-item.tab_select {
    transform: translateY(0);
    visibility:visible;
    transition: transform 0.5s ease-in-out;
    background: var(--white-light);
    animation: feadIn 0.6s ease-in-out;
}
#chemical{
    height:100%;
    width:100%;
    margin-left:auto;
    margin-right:auto;
}
.tab-item {
    color:black;
    visibility: hidden;
    width: 85%;
    height: 69rem;
    overflow:auto;
    position: absolute;
    transform: translateY(100%);
    background: var(--white-light);
    transition: transform 0.5s ease-in-out;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
    place-items: start start;
}

h1.tab-heading{
    font-family: "Minecraft ", sans-serif;
    padding-bottom:3.5%;
}
.pfp{
    width:20rem;
    height:10rem;
    border:1px solid black;
}



@media only screen and (max-width: 767px) {
    *, html, body, .row {
        margin-left:0 !important;
        margin-right:0 !important;
        padding-left:0 !important;
        padding-right:0 !important;
     }
    .card-text{
        font-size:10px;
    }
    .clarence_paragraph{
        font-size:13px;
    }
    .tab-content-left{
        width:25rem;
    }
    .tab-item{
        left:2%;
    }
    h2{
        font-size:30px !important;
    }
    img.subj{
        width:40% !important;
    }
    .subject_minecraft_items{
        width:30px;
        margin-left:5%;
        height:30px;
    }
    .tab-content-left{
        width:70%;
    }
    
}
@media (min-width:768px){
    .outofdiv{
        margin-left:4rem;
    }
    #animation_div{
        height:50rem;
        width:40rem;
    }
    .pfppic{
        width: 28rem !important;
        height:25rem !important;
    } 
    .carousel-item{
        width:28rem !important;
        height:28rem !important;
    }
    #carouselm{
        width:28rem !important;
        margin-left:8rem !important;
        height:28rem !important;
    }
}
@media only screen and (min-device-width : 768px), only screen and (max-device-width : 1024px){
    h2{
        font-size:43px;
    }

}

@media (min-width: 375px) and (max-height:667px)
{ 
    .tab-item{
        left:2%;
    }
    #container.tab{
        margin-left:90px;
    }
     
}

@media(max-width:320px){
    #healingwonders_h1{
        font-size:3rem;
    }
}
/* for iphone 12 pro*/

@media(max-width:600px){
    #healingwonders_h1{
        font-size:4rem !important;
    }
    #animation_div{
        position:relative;
        right:2rem;
        height:28rem;
        width:28rem;
    }
}
.pfppic{
    width:17rem; 
    border:4px solid black;
    height:15rem;
}
#carouselm{
    text-align:center;
    width:17rem;
    height:17rem;
    border:1px solid black;
    margin-left:7rem;
}
.carousel-inner{
    border:1px solid black;
}
.carousel-item{
    height:17rem;
    width:17rem;
}
.nameS{
    font-size:2rem;
    color:black;
}

