@import url('https://fonts.cdnfonts.com/css/minecraft-4');
body, html {
    margin: 0px !important;
    padding: 0px !important;
}
#header{
    background-image: url('header.png');
    height: 100vh;
    overflow:hidden;
    background-repeat:no-repeat;
    background-position: center;
    background-position-y:30px;
}
html{
    margin:0;
    padding:0;
}
#healingwonders_h1{
    font-size:65px;
    margin-left:auto;
    margin-right:auto;
    font-family: "Minecraft", sans-serif;
}
#healingpowers_p{
    font-size:17px;
}
#animation_div{
    border:1px solid black;
    border-radius: 50px;
}
.healingwonders{
    margin:10px;
    text-shadow: 3px 3px #4b4b4b;
    text-indent:20px;
    font-weight:bolder;
    color:white;
}
h2{
    text-shadow: 2px 2px #000000;
    color:white !important;
    font-size:35px;
    font-family: "Minecraft", sans-serif;
}
.card-text{
    color:white;
    font-family: Verdana, sans-serif;
}
.btn{
    color:whitesmoke !important;
    font-family: Verdana, sans-serif !important;
}
@keyframes scissoring{
    0%{transform:translateX(0%); width:0;}
    25%{transform:translateX(25%); width:25;}
    50%{transform:translateX(50%); width:50;}
    75%{transform:translateX(80%); width:75;}
    100%{transform:translateX(150%); width:100;}
}
@keyframes scissoringx{
    0%{transform:translateX(150%);width:100;}
    25%{transform:translateX(80%);width:75;}
    50%{transform:translateX(50%);width:50;}
    75%{transform:translateX(25%); width:25;}
    100%{width:0; transform:translateX(0%); visibility:hidden;}
}
.container{
    opacity:0;
    text-align:center;
    transition:opacity 500ms ease-in; 
}
.container.gone{
    opacity:1;
}
#mainDiv{
    border:2px solid rgb(106, 162, 207);
}
hr{
    border-top:2px solid rgb(106, 162, 207);
}
p{
    line-height:200%;
}

.filter-btn.active {
    background: var(--primary);
    color: var(--white);
}
.clarence_paragraph{
    text-indent:50px;
    font-size:20px;
}
.tab-content-left{
    width:1000px;
}
.container-tab-mode{
    overflow: hidden;
    height:300px;
    margin:auto;
    width:90%;
}
.button_bio{
    color:green;
}
.tab-item.tab_select {
    transform: translateY(0);
    visibility:visible;
    transition: transform 0.5s ease-in-out;
    background: var(--white-light);
    animation: feadIn 0.6s ease-in-out;
}
.tab-item {
    visibility: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    left:10%;
    transform: translateY(100%);
    background: var(--white-light);
    transition: transform 0.5s ease-in-out;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
    place-items: start start;
}
.tab-heading{
    font-family: "Minecraft", sans-serif;
    padding-bottom:3.5%;
}
@media only screen and (max-width: 768px) {
    *, html, body, .row {
       margin-left:0 !important;
       margin-right:0 !important;
       padding-left:0 !important;
       padding-right:0 !important;
    }
    .card-text{
        font-size:10px;
    }
    .col-sm{
        width:8.12rem !important;
    }
    #chemistry, #physics{
        margin-left:2px !important;
    }
    .clarence_paragraph{
        font-size:13px;
    }
    .tab-content-left{
        width:25rem;
    }
    .tab-item{
        left:2%;
    }
    h2{
        font-size:20px !important;
    }
    img.subj{
        width:40% !important;
    }
 }
