@import url('https://fonts.googleapis.com/css?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/blobby-chug?styles=130691');
@import url('https://fonts.cdnfonts.com/css/blobby-chug');
                

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    font-weight: 100;
}

.content{
    text-align: center;
    color: #ffffff;
    position: absolute;
    width: 100%;
    top: 40%;
    transform: translateY(-50%);
    z-index: 2;
    transition: 0.3s;
    justify-content: center;
    align-items: center;
}

.cont h1{
    font-weight: bold;
    letter-spacing: 10px;
    font-size: 75px;
    margin: 10px;
    line-height: 80px;
}

.cont h3{
    font-size: 24px;
    letter-spacing: 2px;
    word-spacing: 3px;
}

.but button{
    color: #fbfcfd;
    margin-right: 20px;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

.but{
    transition: 0.3s;
    padding-top: 10px;
}

.but a{
    text-decoration: none;
}

span{
    width: 0;
    height: 100%;
    color: #043c1b;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

.but button:hover span{
    width: 100%;
}

.but button:hover{
    background-color: #20a77a9e;
    border: none;
}

.bottom{
    height: 100%;
    width: 100%;
    background-image: url(images/intro.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    overflow: hidden;
}

.container {
    padding: 30px;
    transition: opacity 0.3s ease;
    pointer-events: none;
    text-align: justify;
}

.container.show{
    pointer-events: auto;
    opacity: 1;
}

.modal{
    display: none; 
    position: fixed; 
    z-index: 999; 
    width: 100%; 
    height: 100%; 
    padding-top: 60px;
    margin-bottom: 20%;
    background-color: #1e3c4590;
}

.modal-content {
    background: linear-gradient(rgba(109, 159, 197, 0.72), rgba(24, 77, 143, 0.819)) ;
    margin: 5% auto 15% auto; 
    border: 1px solid #0d2a2f;
    width: 80%; 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
   
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
 
    to {-webkit-transform:scale(1)}

  }

  
  @keyframes zoom {
    from {transform:scale(0)}
 
    to {transform:scale(1)}

}

.close {
    padding-top: 80px;
    position: absolute;
    padding-left: 35px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}
 
.close:hover,
.close:focus {
    color: #2f267b;
    cursor: pointer;
}
 
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

p{
    color: rgb(255, 255, 255);
}

.bubone{
    width: 150px;
    height: 150px;
    margin-left: 200px;
    margin-top: 70px;
    cursor: pointer;
    z-index: 3;
}

.bubone:hover{
    opacity: 0.5;
}

.side-bar{
    width: 50px;
    height: 100%;
    background: linear-gradient(#062f45bb, #27817872);
    position: fixed;                                                                                                                                
    z-index: 3;
    right: 0;
    top: 0;
    z-index: 999;
}

.social-links img{
    margin-left: 12px;
    width: 27px;
    margin-bottom: 25px;
    cursor: pointer;
}

.social-links img:hover{
    background-color: rgb(255, 225, 192);
    border-radius: 50%;
}

.social-links{
    width: 20px;
    position: absolute;
}

.social{
    text-align: center;
    padding-top: 250px;
}

.carousel-control-prev{
  width: 40px;
  height: 40px;
  background-color: rgba(83, 116, 143, 0.95);
  top: 47%;
  float: left;
  margin-left: 45px;
  border-radius: 100%;
  opacity: 1;
}

.carousel-control-next{
    background-color: rgba(83, 116, 143, 0.95);
    width: 40px;
    height: 40px;
    top: 47%;
    float: right;
    margin-right: 65px;
    border-radius: 100%;
    opacity: 1;
}

.carousel-control-prev:hover{
    opacity: 0.7;
}
 
.boat{
    top: 13%;
    margin-left: 160px;
    margin-top: 2150px;
    transform: rotate(-10deg);
    width: 450px;
    height: 275px;
    position: absolute;
    cursor: pointer;
}

.boattwo{
    top: 15%;
    margin-left: 840px;
    margin-top: 2100px;
    transform: rotate(10deg);
    width: 250px;
    height: 150px;
    position: absolute;
    cursor: pointer;
}

.boattwo:hover{
    opacity: 0.7;
}

.boat:hover{
    opacity: 0.7;
}

.bubbles img{
    width: 200px;
    animation: bubble 9s linear infinite;
}

.bubbles{
    opacity: 0.5;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 3;
}

@keyframes bubble{
    0%{
        transform: translateY(0);
        opacity: 1;
    }

    50%{
        opacity: 1;
    }

    70%{
        opacity: 1;
    }

    100%{
        transform: translateY(-150vh);
        opacity: 1;
    }

}

.bubbles img:nth-child(1){
    animation-delay: 0s;
}

.bubbles img:nth-child(2){
    animation-delay: 1s;
}

.bubbles img:nth-child(3){
    animation-delay: 0s;
}

.bubbles img:nth-child(4){
    animation-delay: 3s;
}

.bubbles img:nth-child(5){
    animation-delay: 1.5s;
}

.bubbles img:nth-child(6){
    animation-delay: 2s;
}

.corals {
    width: 100%;
    margin: 0px;
    top: -121px;
    position: absolute;
}

.treasure{
    width: 25%;
    margin-left: 724px;
    margin-top: 129px;
    position: absolute;
    cursor: pointer;
}

.treasure:hover{
    opacity: 0.7;
}

.bubtwo{
    width: 150px;
    height: 150px;
    margin-left: 850px;
    margin-top: -40px;
    cursor: pointer;
    opacity: 0.8;
}

.bubtwo:hover{
    opacity: 0.5;
}

.container h1{
    color: #0d2a2f;
    text-align: center;
    padding-bottom: 30px;
}

.container p{
    color: #0d2a2f;
    font-family: 'Poppins';
    font-weight: 100;
    padding-bottom: 10px;
}

.sign img{
    width: 150px;
}

.sign{
    margin-left: 830px;
    top: 360px;
    position: absolute;
    transform: rotate(-25deg);
    align-items: center;
    margin-top: 85px;
}

.inside p{
    font-family: 'BLOBBY CHUG', sans-serif;
    text-shadow: 2px 2px rgb(63, 80, 109);
    font-size: 22px;
    position: absolute;
    top: 14%;
    left: 13%;
    transform: rotate(7deg);
}

.biotext h1{
    position: absolute;
    margin-left: 880px;
    margin-top: -110px;
    font-size: 45px;
    transform: rotate(-7deg);
    cursor: pointer;
    text-shadow: 2px 2px rgb(76, 122, 141);
    font-weight: 300;
    background: linear-gradient(to right, rgb(255, 255, 255) , #88bbd1 , #2f7d9e);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.3s ease-out;
}


.biotext h1:hover{
    background-position: -100%;
}

.chemtext h1{
    position: absolute;
    margin-left: 215px;
    margin-top: -120px;
    font-size: 38px;
    transform: rotate(8deg);
    cursor: pointer;
    text-shadow: 2px 2px rgb(224, 111, 111);
    font-weight: 300;
    background: linear-gradient(to right, rgb(255, 255, 255) , #e5a0a0 , #9a2a2a);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.3s ease-out;
}

.chemtext h1:hover{
    background-position: -100%;
}

::-webkit-scrollbar{
    width: 9px;
}

::-webkit-scrollbar-track {
    background: #3f6671dc; 
    
}

::-webkit-scrollbar-thumb {
    background: rgb(4, 46, 52); 
    padding-left: 5px;
    border-radius: 15px;
}

.bubthree{
    width: 170px;
    height: 170px;
    margin-top: -80px;
    margin-left: 450px;
    position: absolute;
}

.bubthree:hover{
    opacity: 0.5;
}

.physicstext h1{
    position: absolute;
    margin-left: 465px;
    font-size: 32px;
    margin-top: -30px;
    transform: rotate(-5deg);
    cursor: pointer;
    text-shadow: 2px 2px rgb(224, 213, 111);
    font-weight: 300;
    background: linear-gradient(to right, rgb(255, 255, 255) , #d1d188 , #c3b40f);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.3s ease-out;
}

.physicstext h1:hover{
    background-position: -100%;
}

.pic{
    display: inline-block;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    margin-left: 100px;
    z-index: 3;
}

.pic:hover{
    opacity: 0.5;
}


.science{
    width: 100%;
    height: 105vh;
    background-image: url(images/sci.jpg);
    background-position: center;
    background-size: cover;

}

.intro h1{
    font-weight: bold;
    text-align: center;
    font-size: 10em;
    padding-bottom: 0px;
    color: #1c5c68;
    margin-top: 45px;
}

.sci-text{
    text-align: center;
    padding-top: 30px;
    margin-right: 30px;
    margin-top: 600px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    z-index: 3;
}

.research{
    width: 100%;
    height: 100vh;
    background-image: url(images/waterthree.jpg);
    background-position: center;
    background-size: cover;
}

.re-text h1{
    text-align: center;
    padding-top: 30px;
    font-weight: bold;
    color: white;
}

