*{
    margin: 0;
    padding: 0;
}
.home-container {
    width: 100%;
    height: auto;
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(0deg, rgb(0, 0, 0) 0.00%,rgba(91, 136, 108, 0.82) 100.00%);
  }
  .home-hero {
    width: 100%;
    height: 640px;
    display: flex;
    opacity: 0.8;
    box-shadow: 0px 10px 10px 0px #000000;
    align-items: center;
    padding-top: 80px;
    margin-bottom: 40px;
    flex-direction: row;
    padding-bottom: 80px;
    background-size: cover;
    justify-content: center;
    background-image: url("file:///C:/Users/ADMIN/Desktop/Lithium-1/images/kelp.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }
  .home-content-container {
    width: 100%;
    display: flex;
    max-width: max-content;
    margin-top: 40px;
    align-items: center;
    padding-top: 80px;
    padding-left: 24px;
    margin-bottom: 40px;
    padding-right: 24px;
    flex-direction: row;
    padding-bottom: 80px;
    justify-content: center;
  }
  .home-hero-text {
    width: 65%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .home-heading {
    color: white;
    font-size: 6em;
    text-align: center;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 1.22;
    margin-bottom: 4px;
    letter-spacing: 8px;
    text-transform: none;
    text-decoration: none;
  }
  .home-text {
    color: white;
    text-align: center;
    margin-bottom: 8px;
  }
  .home-cta-btn {
    color: white;
    text-align: center;
    padding-top: 8px;
    border-color: white;
    padding-left: 24px;
    border-radius: 30px;
    padding-right: 24px;
    padding-bottom: 8px;
    background-color: transparent;
  }
  .home-science-concepts {
    width: 1226px;
    display: flex;
    max-width: max-content;
    align-items: center;
    padding-top: 8px;
    padding-left: 24px;
    padding-right: 24px;
    flex-direction: column;
    padding-bottom: 0px;
  }
  .home-intro {
    width: 1206px;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    flex-direction: column;
  }
  .home-heading1 {
    color: #132b16;
    text-align: center;
    margin-bottom: 40px;
  }
  .home-service-card {
    width: 1000px;
    display: flex;
    align-items: flex-start;
    padding-top: 32px;
    padding-left: 32px;
    border-radius: 4px;
    padding-right: 32px;
    flex-direction: column;
    padding-bottom: 0px;
    justify-content: center;
    background-color: rgba(19, 43, 22, 0.17);
  }
  .home-text01 {
    color: #ffffff;
    font-style: normal;
    text-align: justify;
    margin-bottom: 40px;
    text-transform: lowercase;
  }
  .home-text02 {
    line-height: 1.55;
    text-decoration: none;
  }
  .home-text03 {
    line-height: 1.55;
    text-decoration: none;
  }
  .home-text05 {
    line-height: 1.55;
    text-decoration: none;
  }
  .home-text06 {
    line-height: 1.55;
    text-decoration: none;
  }
  .home-text07 {
    line-height: 1.55;
    text-decoration: none;
  }
  .home-text09 {
    line-height: 1.55;
    text-decoration: none;
  }
  .home-text10 {
    line-height: 1.55;
    text-decoration: none;
  }
  .home-heading-container {
    width: 45%;
    border: 2px dashed rgba(120, 120, 120, 0.4);
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    flex-direction: column;
    justify-content: center;
  }
  .home-text11 {
    color: #132b16;
    margin-top: 0px;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 40px;
  }
  .home-service-card1 {
    width: 1000px;
    display: flex;
    align-items: flex-start;
    padding-top: 32px;
    padding-left: 32px;
    border-radius: 4px;
    margin-bottom: 32px;
    padding-right: 32px;
    flex-direction: column;
    padding-bottom: 32px;
    justify-content: center;
    background-color: rgba(19, 43, 22, 0.17);
  }
  .home-text-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-container01 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .home-icon-container {
    display: flex;
    padding: 8px;
    align-items: center;
    margin-right: 24px;
    border-radius: 50%;
    flex-direction: column;
    background-color: rgba(138, 214, 149, 0.27);
  }
  .home-icon {
    width: 24px;
    height: 24px;
  }
  .home-heading2 {
    color: rgb(139, 228, 150);
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 24px;
  }
  .home-text12 {
    color: #ffffff;
    margin-top: 8px;
    text-align: justify;
    margin-left: 8px;
    margin-right: 8px;
  }
  .home-service-card2 {
    width: 1000px;
    display: flex;
    align-items: flex-start;
    padding-top: 32px;
    padding-left: 32px;
    border-radius: 4px;
    margin-bottom: 32px;
    padding-right: 32px;
    flex-direction: column;
    padding-bottom: 32px;
    justify-content: center;
    background-color: rgba(19, 43, 22, 0.17);
  }
  .home-text-container1 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-container02 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .home-icon-container1 {
    display: flex;
    padding: 8px;
    align-items: center;
    margin-right: 24px;
    border-radius: 50%;
    flex-direction: column;
    background-color: rgba(138, 214, 149, 0.27);
  }
  .home-icon02 {
    width: 24px;
    height: 24px;
  }
  .home-heading3 {
    color: #8be496;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 24px;
  }
  .home-text13 {
    color: #ffffff;
    text-align: justify;
  }
  .home-service-card3 {
    width: 1000px;
    height: 498px;
    display: flex;
    align-items: flex-start;
    padding-top: 32px;
    padding-left: 32px;
    border-radius: 4px;
    margin-bottom: 32px;
    padding-right: 32px;
    flex-direction: column;
    padding-bottom: 32px;
    justify-content: center;
    background-color: rgba(19, 43, 22, 0.17);
  }
  .home-text-container2 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-container03 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .home-icon-container2 {
    display: flex;
    padding: 8px;
    align-items: center;
    margin-right: 24px;
    border-radius: 50%;
    flex-direction: column;
    background-color: rgba(138, 214, 149, 0.27);
  }
  .home-icon04 {
    width: 24px;
    height: 24px;
  }
  .home-heading4 {
    color: #8be496;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 24px;
  }
  .home-text14 {
    color: rgb(255, 255, 255);
    text-align: justify;
  }
  .home-application {
    color: rgba(111, 161, 115, 0.73);
    width: 1100px;
    height: 444px;
    display: flex;
    max-width: max-content;
    margin-top: 0px;
    align-items: center;
    padding-top: 40px;
    padding-left: 24px;
    margin-bottom: 0px;
    padding-right: 24px;
    flex-direction: column;
    padding-bottom: 40px;
  }
  .home-text15 {
    color: rgba(152, 216, 157, 0.73);
    text-align: center;
    margin-bottom: 32px;
  }
  .home-heading-container1 {
    color: rgba(111, 161, 115, 0.73);
    width: 45%;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    flex-direction: column;
  }
  .home-text16 {
    color: rgba(111, 161, 115, 0.73);
    text-align: center;
  }
  .home-cards-container {
    color: rgba(111, 161, 115, 0.73);
    width: 100%;
    display: flex;
    max-width: max-content;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .home-service-card4 {
    color: rgba(111, 161, 115, 0.73);
    width: 1100px;
    display: flex;
    align-items: flex-start;
    padding-top: 32px;
    padding-left: 32px;
    border-radius: 4px;
    margin-bottom: 24px;
    padding-right: 32px;
    flex-direction: column;
    padding-bottom: 0px;
    justify-content: center;
    background-color: rgba(61, 103, 66, 0.17);
  }
  .home-text17 {
    color: rgba(254, 255, 254, 0.73);
    font-size: 16px;
    font-style: normal;
    text-align: left;
    font-family: Raleway;
    font-weight: 400;
    line-height: 1.55;
    margin-bottom: 32px;
    text-transform: none;
    text-decoration: none;
  }
  .home-application1 {
    color: rgba(111, 161, 115, 0.73);
    width: 1100px;
    height: 545px;
    display: flex;
    max-width: max-content;
    margin-top: 0px;
    align-items: center;
    padding-top: 10px;
    padding-left: 24px;
    margin-bottom: 300px;
    padding-right: 24px;
    flex-direction: column;
  }
  .home-text20 {
    color: rgba(152, 216, 157, 0.73);
    text-align: center;
    margin-bottom: 32px;
  }
  .home-cards-container1 {
    color: rgba(111, 161, 115, 0.73);
    width: 100%;
    display: flex;
    max-width: max-content;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .home-service-card5 {
    color: rgba(111, 161, 115, 0.73);
    width: 1489px;
    height: 875px;
    display: flex;
    align-items: flex-start;
    padding-top: 32px;
    padding-left: 32px;
    border-radius: 4px;
    margin-bottom: 24px;
    padding-right: 32px;
    flex-direction: column;
    padding-bottom: 0px;
    justify-content: center;
    background-color: rgba(61, 103, 66, 0.17);
  }
  .home-text21 {
    color: rgba(120, 218, 186, 0.73);
    text-align: left;
    padding-top: 24px;
    padding-left: 0px;
    margin-bottom: 32px;
    padding-right: 32px;
  }
  .home-section-separator {
    width: 100%;
    height: 1px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: gray;
  }
  .home-team {
    color: rgba(111, 161, 115, 0.73);
    width: 1194px;
    height: 1115px;
    display: flex;
    max-width: max-content;
    margin-top: 40px;
    align-items: center;
    padding-top: 80px;
    padding-left: 24px;
    margin-bottom: 40px;
    padding-right: 24px;
    flex-direction: column;
    padding-bottom: 40px;
  }
  .home-text56 {
    color: rgba(111, 161, 115, 0.73);
    text-align: center;
    margin-bottom: 32px;
  }
  .home-heading-container2 {
    color: rgba(111, 161, 115, 0.73);
    width: 608px;
    height: 87px;
    display: flex;
    align-items: center;
    padding-left: 24px;
    margin-bottom: 8px;
    padding-right: 24px;
    flex-direction: column;
  }
  .home-text57 {
    color: rgba(111, 161, 115, 0.73);
    text-align: center;
  }
  .home-cards-container2 {
    color: rgba(111, 161, 115, 0.73);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
  }
  .home-team-card {
    color: rgba(111, 161, 115, 0.73);
    width: 1278px;
    display: flex;
    padding: 8px;
    align-self: center;
    align-items: center;
    flex-direction: row;
  }
  .home-avatar-container {
    width: 200px;
    display: flex;
    padding: 0px;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 0px;
    flex-direction: column;
    justify-content: center;
    background-color: gray;
  }
  .home-image {
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
  }
  .home-container04 {
    color: rgba(111, 161, 115, 0.73);
    width: 98px;
    height: auto;
    display: flex;
    margin-left: 80px;
    margin-right: 80px;
    flex-direction: column;
  }
  .home-name {
    color: rgba(111, 161, 115, 0.73);
    margin-bottom: 8px;
  }
  .home-position {
    color: rgba(111, 161, 115, 0.73);
  }
  .home-text58 {
    color: rgba(111, 161, 115, 0.73);
    text-align: left;
    margin-left: 8px;
    margin-bottom: 0px;
  }
  .home-team-card1 {
    color: rgba(111, 161, 115, 0.73);
    width: 1278px;
    display: flex;
    padding: 8px;
    align-self: center;
    margin-top: 8px;
    align-items: center;
    flex-direction: row;
  }
  .home-image1 {
    width: 100px;
    object-fit: cover;
    border-color: gray;
    border-width: 1px;
    border-radius: 50%;
  }
  .home-container05 {
    color: rgba(111, 161, 115, 0.73);
    width: 98px;
    height: auto;
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
    flex-direction: column;
  }
  .home-name1 {
    color: rgba(111, 161, 115, 0.73);
    margin-bottom: 8px;
  }
  .home-position1 {
    color: rgba(111, 161, 115, 0.73);
  }
  .home-text59 {
    color: rgba(111, 161, 115, 0.73);
    text-align: left;
    margin-left: 8px;
    margin-bottom: 0px;
  }
  .home-team-card2 {
    color: rgba(111, 161, 115, 0.73);
    width: 1278px;
    display: flex;
    padding: 8px;
    align-self: center;
    margin-top: 8px;
    align-items: center;
    flex-direction: row;
  }
  .home-avatar-container1 {
    width: 200px;
    display: flex;
    padding: 0px;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 0px;
    flex-direction: column;
    background-color: gray;
  }
  .home-image2 {
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
  }
  .home-container06 {
    color: rgba(111, 161, 115, 0.73);
    width: 98px;
    height: auto;
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
    flex-direction: column;
  }
  .home-name2 {
    color: rgba(111, 161, 115, 0.73);
    margin-bottom: 8px;
  }
  .home-position2 {
    color: rgba(111, 161, 115, 0.73);
  }
  .home-text60 {
    color: rgba(111, 161, 115, 0.73);
    text-align: left;
    margin-left: 8px;
    margin-bottom: 0px;
  }
  .home-team-card3 {
    color: rgba(111, 161, 115, 0.73);
    width: 1278px;
    display: flex;
    padding: 8px;
    align-self: center;
    margin-top: 8px;
    align-items: center;
    flex-direction: row;
  }
  .home-avatar-container2 {
    width: 200px;
    display: flex;
    padding: 0px;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 0px;
    flex-direction: column;
    background-color: gray;
  }
  .home-image3 {
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
  }
  .home-container07 {
    color: rgba(111, 161, 115, 0.73);
    width: 95px;
    height: auto;
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
    flex-direction: column;
  }
  .home-name3 {
    color: rgba(111, 161, 115, 0.73);
    margin-bottom: 8px;
  }
  .home-position3 {
    color: rgba(111, 161, 115, 0.73);
  }
  .home-text61 {
    color: rgba(111, 161, 115, 0.73);
    text-align: left;
    margin-left: 8px;
    margin-bottom: 0px;
  }
  .home-team-card4 {
    color: rgba(111, 161, 115, 0.73);
    width: 1278px;
    display: flex;
    padding: 8px;
    align-self: center;
    margin-top: 8px;
    align-items: center;
    flex-direction: row;
  }
  .home-image4 {
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
  }
  .home-container08 {
    color: rgba(111, 161, 115, 0.73);
    width: 98px;
    height: auto;
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
    flex-direction: column;
  }
  .home-name4 {
    color: rgba(111, 161, 115, 0.73);
    margin-bottom: 8px;
  }
  .home-position4 {
    color: rgba(111, 161, 115, 0.73);
  }
  .home-text62 {
    color: rgba(111, 161, 115, 0.73);
    text-align: left;
    margin-left: 8px;
    margin-bottom: 0px;
  }
  .home-team-card5 {
    color: rgba(111, 161, 115, 0.73);
    width: 1149px;
    display: flex;
    padding: 8px;
    align-self: center;
    margin-top: 8px;
    align-items: center;
    flex-direction: row;
  }
  .home-image5 {
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
  }
  .home-container09 {
    color: rgba(111, 161, 115, 0.73);
    width: 98px;
    height: auto;
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
    flex-direction: column;
  }
  .home-name5 {
    color: rgba(111, 161, 115, 0.73);
    margin-bottom: 8px;
  }
  .home-position5 {
    color: rgba(111, 161, 115, 0.73);
  }
  .home-text63 {
    color: rgba(111, 161, 115, 0.73);
    text-align: left;
    margin-left: 24px;
    margin-right: 8px;
    margin-bottom: 0px;
  }
  .home-section-separator1 {
    width: 100%;
    height: 1px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: gray;
  }
  .home-section-separator2 {
    width: 100%;
    height: 1px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: gray;
  }
  .home-section-separator3 {
    width: 100%;
    height: 1px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: gray;
  }
  .home-footer-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #000000;
  }
  .home-footer {
    width: 100%;
    display: flex;
    max-width: max-content;
    align-items: center;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    flex-direction: row;
    padding-bottom: 24px;
    justify-content: space-between;
  }
  .home-social-links {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
  }
  .home-icon06 {
    width: 24px;
    height: 24px;
    margin-right: 16px;
  }
  .home-icon08 {
    width: 24px;
    height: 24px;
    margin-right: 16px;
  }
  .home-icon10 {
    width: 24px;
    height: 24px;
  }
  .home-copyright-container {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .home-icon12 {
    width: 24px;
    height: 24px;
    margin-right: 16px;
  }
  @media(max-width: 1024px) {
    .home-heading {
      font-size: 5em;
    }
    .home-science-concepts {
      width: 100%;
    }
    .home-intro {
      width: 100%;
    }
    .home-service-card {
      width: 100%;
    }
    .home-service-card1 {
      width: 100%;
    }
    .home-heading2 {
      color: #48ad55;
      font-size: 24px;
      font-weight: bold;
    }
    .home-service-card2 {
      width: 100%;
    }
    .home-heading3 {
      color: #48ad55;
      font-size: 24px;
      font-weight: bold;
    }
    .home-text13 {
      color: #ffffff;
    }
    .home-service-card3 {
      width: 975px;
      height: 553px;
    }
    .home-heading4 {
      color: #48ad55;
      font-size: 24px;
      font-weight: bold;
    }
    .home-application {
      width: 982px;
    }
    .home-service-card4 {
      width: 1024px;
      margin-bottom: 24px;
    }
    .home-text17 {
      color: rgba(120, 218, 186, 0.73);
    }
    .home-application1 {
      width: 982px;
      height: 623px;
    }
    .home-service-card5 {
      width: 945px;
      height: 956px;
      padding-top: 80px;
      margin-bottom: 0px;
      padding-right: 27px;
      padding-bottom: 77px;
    }
    .home-text21 {
      color: rgba(120, 218, 186, 0.73);
      align-self: stretch;
      padding-top: 80px;
      padding-left: 0px;
      padding-right: 0px;
    }
    .home-text23 {
      color: rgba(111, 161, 115, 0.73);
    }
    .home-text26 {
      color: rgba(111, 161, 115, 0.73);
    }
    .home-text35 {
      color: rgba(111, 161, 115, 0.73);
    }
    .home-text38 {
      color: rgba(111, 161, 115, 0.73);
    }
    .home-text41 {
      color: rgba(111, 161, 115, 0.73);
    }
    .home-text44 {
      color: rgba(111, 161, 115, 0.73);
    }
    .home-text47 {
      color: rgba(111, 161, 115, 0.73);
    }
    .home-text50 {
      color: rgba(111, 161, 115, 0.73);
    }
    .home-text53 {
      color: rgba(111, 161, 115, 0.73);
    }
    .home-team {
      width: 100%;
      height: 1146px;
    }
    .home-avatar-container {
      width: 365px;
      height: 100px;
      min-width: auto;
      padding-left: 0px;
      border-radius: 50%;
      padding-right: 0px;
    }
    .home-image {
      border-radius: 50%;
    }
    .home-image1 {
      border-color: gray;
      border-width: 2px;
      border-radius: 50%;
    }
    .home-avatar-container1 {
      border-radius: 50%;
    }
    .home-image2 {
      border-color: gray;
      border-width: 2px;
      border-radius: 50%;
    }
    .home-image3 {
      border-radius: 50%;
    }
    .home-image4 {
      border-radius: 50%;
    }
    .home-team-card5 {
      width: 100%;
    }
  }
  @media(max-width: 768px) {
    .home-hero {
      flex-direction: column-reverse;
    }
    .home-content-container {
      flex-direction: column-reverse;
    }
    .home-hero-text {
      width: 80%;
    }
    .home-heading {
      font-size: 3.6em;
    }
    .home-intro {
      width: 80%;
    }
    .home-service-card {
      width: 734px;
    }
    .home-service-card1 {
      width: 727px;
    }
    .home-service-card2 {
      width: 733px;
    }
    .home-service-card3 {
      width: 736px;
    }
    .home-text-container2 {
      height: 496px;
    }
    .home-application {
      width: 728px;
      height: 716px;
      padding-top: 158px;
      padding-left: 0px;
      padding-right: 0px;
    }
    .home-service-card4 {
      width: 768px;
    }
    .home-application1 {
      width: 728px;
      height: 716px;
      padding-top: 0px;
      padding-left: 0px;
      padding-right: 0px;
    }
    .home-cards-container1 {
      position: relative;
    }
    .home-service-card5 {
      top: 0px;
      left: 0px;
      width: 100%;
      height: 1197px;
      position: absolute;
      align-self: flex-end;
    }
    .home-text21 {
      top: 20px;
      left: 27px;
      color: rgba(120, 218, 186, 0.73);
      right: 27px;
      bottom: -75px;
      position: absolute;
      align-self: flex-end;
      padding-top: 4px;
    }
    .home-text23 {
      color: rgba(111, 161, 115, 0.73);
    }
    .home-text26 {
      color: rgba(111, 161, 115, 0.73);
    }
    .home-text35 {
      color: rgba(111, 161, 115, 0.73);
    }
    .home-text38 {
      color: rgba(111, 161, 115, 0.73);
    }
    .home-text41 {
      color: rgba(111, 161, 115, 0.73);
    }
    .home-text44 {
      color: rgba(111, 161, 115, 0.73);
    }
    .home-text47 {
      color: rgba(111, 161, 115, 0.73);
    }
    .home-text50 {
      color: rgba(111, 161, 115, 0.73);
    }
    .home-text53 {
      color: rgba(111, 161, 115, 0.73);
    }
    .home-team {
      width: 100%;
      height: 1233px;
      margin-top: 119px;
      padding-top: 91px;
    }
    .home-cards-container2 {
      justify-content: center;
    }
  }
  @media(max-width: 667px) {
    .home-heading {
      font-size: 3em;
    }
    .home-service-card {
      width: 626px;
      margin-bottom: 32px;
    }
    .home-heading-container {
      width: 100%;
    }
    .home-service-card1 {
      width: 625px;
      margin-bottom: 32px;
    }
    .home-service-card2 {
      width: 625px;
      margin-bottom: 32px;
    }
    .home-service-card3 {
      width: 630px;
      margin-bottom: 32px;
    }
    .home-application {
      width: 630px;
      height: 773px;
      align-self: center;
      padding-top: 0px;
      padding-bottom: 0px;
    }
    .home-text15 {
      height: 440px;
      margin-top: 270px;
      margin-bottom: 0px;
    }
    .home-heading-container1 {
      width: 100%;
      margin-bottom: 16px;
    }
    .home-cards-container {
      height: 665px;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: center;
    }
    .home-service-card4 {
      width: 657px;
      align-self: flex-end;
      margin-bottom: 32px;
    }
    .home-text17 {
      align-self: stretch;
    }
    .home-application1 {
      width: 630px;
      height: 773px;
      align-self: center;
      padding-top: 0px;
      margin-bottom: 423px;
      padding-bottom: 0px;
    }
    .home-text20 {
      color: rgba(152, 216, 157, 0.73);
      height: 80px;
      margin-top: 24px;
      margin-bottom: 0px;
    }
    .home-cards-container1 {
      height: 665px;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: center;
    }
    .home-service-card5 {
      width: 633px;
      height: 1312px;
      align-self: flex-end;
      padding-top: 55px;
      margin-bottom: 32px;
    }
    .home-text21 {
      color: rgba(120, 218, 186, 0.73);
      align-self: stretch;
    }
    .home-text23 {
      color: rgba(111, 161, 115, 0.73);
    }
    .home-text26 {
      color: rgba(111, 161, 115, 0.73);
    }
    .home-text35 {
      color: rgba(111, 161, 115, 0.73);
    }
    .home-text38 {
      color: rgba(111, 161, 115, 0.73);
    }
    .home-text41 {
      color: rgba(111, 161, 115, 0.73);
    }
    .home-text44 {
      color: rgba(111, 161, 115, 0.73);
    }
    .home-text47 {
      color: rgba(111, 161, 115, 0.73);
    }
    .home-text50 {
      color: rgba(111, 161, 115, 0.73);
    }
    .home-text53 {
      color: rgba(111, 161, 115, 0.73);
    }
    .home-team {
      width: 100%;
      height: 1897px;
      margin-top: 1px;
      padding-top: 385px;
    }
    .home-heading-container2 {
      width: 100%;
    }
  }
  @media(max-width: 375px) {
    .home-hero {
      padding-top: 32px;
      padding-bottom: 32px;
    }
    .home-content-container {
      width: 100%;
      max-width: auto;
      padding-top: 40px;
      padding-left: 32px;
      padding-right: 32px;
      padding-bottom: 40px;
    }
    .home-hero-text {
      width: 100%;
    }
    .home-heading {
      width: 359px;
      height: 33px;
      font-size: 1.5em;
    }
    .home-cta-btn {
      padding-left: 24px;
      padding-right: 24px;
    }
    .home-science-concepts {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    .home-intro {
      width: 100%;
    }
    .home-service-card {
      width: 369px;
      height: 1966px;
    }
    .home-text11 {
      width: 373px;
    }
    .home-service-card1 {
      width: 375px;
      margin-right: 0px;
    }
    .home-text12 {
      color: gray;
    }
    .home-service-card2 {
      width: 375px;
    }
    .home-text13 {
      color: gray;
    }
    .home-service-card3 {
      width: 375px;
    }
    .home-text14 {
      color: gray;
      margin-bottom: 80px;
    }
    .home-application {
      width: 100%;
      padding-top: 40px;
      padding-bottom: 40px;
    }
    .home-text15 {
      height: 150px;
      margin-top: 915px;
    }
    .home-service-card4 {
      width: 375px;
      height: 615px;
    }
    .home-text17 {
      margin-bottom: 80px;
    }
    .home-application1 {
      width: 100%;
      height: 934px;
      padding-top: 56px;
      padding-bottom: 32px;
    }
    .home-text20 {
      height: 150px;
      margin-top: 915px;
    }
    .home-service-card5 {
      width: 375px;
      height: 698px;
      margin-bottom: 16px;
    }
    .home-text21 {
      left: 17px;
      bottom: -589px;
      margin-bottom: 80px;
    }
    .home-team {
      width: 100%;
      height: 4139px;
      align-self: stretch;
      padding-top: 1657px;
      padding-bottom: 40px;
    }
    .home-text56 {
      height: 144px;
      text-align: center;
    }
    .home-team-card {
      width: 375px;
      flex-direction: column;
    }
    .home-avatar-container {
      width: 63px;
    }
    .home-name {
      align-self: center;
    }
    .home-position {
      align-self: center;
    }
    .home-team-card1 {
      width: 375px;
      flex-direction: column;
    }
    .home-name1 {
      align-self: center;
    }
    .home-position1 {
      align-self: center;
    }
    .home-team-card2 {
      width: 375px;
      flex-direction: column;
    }
    .home-avatar-container1 {
      width: 63px;
    }
    .home-name2 {
      align-self: center;
    }
    .home-position2 {
      align-self: center;
    }
    .home-team-card3 {
      width: 375px;
      flex-direction: column;
    }
    .home-avatar-container2 {
      width: 63px;
    }
    .home-name3 {
      align-self: center;
    }
    .home-position3 {
      align-self: center;
    }
    .home-team-card4 {
      width: 375px;
      flex-direction: column;
    }
    .home-name4 {
      align-self: center;
    }
    .home-position4 {
      align-self: center;
    }
    .home-team-card5 {
      width: 375px;
      height: 482px;
      flex-direction: column;
    }
    .home-name5 {
      align-self: center;
    }
    .home-position5 {
      align-self: center;
    }
    .home-text63 {
      color: rgba(111, 161, 115, 0.73);
    }
}