body, html {
    height: 100%;
}

.content {
    padding: 60px;
    color: #FFFDF8;
    font-family: "Inter";
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("images/header.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.heroText {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: black;
}

.heroText p {
    font-family: "Inter";
}

.heading {
    text-align: center;
    font-weight: 900;
    padding-right: 55px;
}

.divHeading {
    background-color: #C89E71;
    width: 60px;
    height: 5px;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
}

#gradient {
    background-image: linear-gradient(rgba(169,102,40,1), rgba(70,50,18,1));
}

.info {
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(200,158,113,0.5);
    border-radius: 10px;
    margin-bottom: 70px;
    text-align: justify;
    text-justify: inter-word;
}

.spin {
    width: 6%;
    margin-bottom: 5px;
}

.spin {
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

.scienceHeading {
    font-weight: 900;
}

.chem {
    text-align: right;
}

.chem-icon {
    width: 4%;
    float: right;
    padding-left: 10px;
}

.icon {
    width: 4%;
    float: left;
    padding-right: 10px;
}

.download:hover {
    background-color: #c89e71;
    color: black;
}

.download {
    margin-top: 30px;
    text-align: center;
    padding: 10px;
    width: 35%;
    background-color: rgb(26, 26, 26);
    color: white;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}   
  
::-webkit-scrollbar-thumb {
    background: #808080; 
}  
 
::-webkit-scrollbar-thumb:hover {
    background: #8b6c56; 
}
  
.members1, .members2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.memberpic {
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    text-align: center;
}

.m {
    float: left;
}

.name {
    text-align: center;
}

.desc {
    text-align: center;
}

#mp1 {
    background-image: url(images/kyle.jpg);
    background-size: 100%;
}

#mp2 {
    background-image: url(images/mick.jpg);
    background-size: 100%;
}

#mp3 {
    background-image: url(images/earl.jpg);
    background-size: 100%;
}

#mp4 {
    background-image: url(images/lirein.jpg);
    background-size: 100%;
}

#mp5 {
    background-image: url(images/sangjin.png);
    background-size: 100%;
}

#mp6 {
    background-image: url(images/chloe.png);
    background-size: 100%;
}

footer {
    margin: 0;
    background-color: rgb(35, 19, 1);
    padding: 20px;
    padding-top: 30px;
    text-align: center;
    font-size: 13px;
    line-height: 0.5;
    color: #c89e71;
}

.dopamine {
    height: 390px;
    margin-right: 25px;
    padding-bottom: 10px;
}

.chem img {
    float: left;
}

.music1 {
    float: left;
    width: 25%;
    margin-right: 20px;
}

.music2 {
    float: right;
    width: 25%;
    padding-left: 20px;
    padding-bottom: 20px;
}

.lsf {
    color: #c89e71;
}

.lsf:hover {
    color: black;
}

.member-email {
    padding: 10px;
    margin-left: 35%;
    text-align: center;
    color: white;
    background-color: rgb(35, 19, 1);
}

.member-email:hover {
    color: black;
    background-color: #c89e71;
}

.members2 {
    padding-top: 20px;
    margin-bottom: 70px;
}

.reveal{
    position: relative;
    transform: translateY(20px);
    opacity: 0;
    transition: 1s all ease;
}
  
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}
